body{
/*    background-color: #24B6A7;*/
   
    height: 100%;
}

/*header*/

.head{
    background-image:
         linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../img/afric.jpeg); 
       background-repeat:no-repeat;
    background-size:   cover;
       
    
    
    height: 21.875em;
    
   
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}



h1{
    color: aqua;
}


#logo{
    margin-left: 1px;
   
}

/*nav*/
.top a{
 margin-left: 10%;
    color: aqua;
}


/*ABOUT*/

#about{
    background-color: #105C58;
    width: 100%;
    height: 18.750em;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    
}
#about p{
    margin: 3%;
}

/*SLIDER*/

.slider{
    height: 12.500em;
    width: 100%;
}


/*CONTACTS*/
#contacts{
    background-color: #105C58;
    height: 25.000em;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    
}



/*FOOTER*/
footer{
    height: 12.500em;
}
