body{
  background-color: #24B6A7;
   
   
}

/*header*/

.head{
 
    background-image:
         linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ),
        url(../img/afric.jpeg);
        
   background-repeat:no-repeat;
    background-size:   cover;
 
    background-image: url(../img/overlay.png) repeat;
     opacity: 1;
 
    
    height: 21.875em;
    
   
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}



h1{
    color: aqua;
}


#logo{
    margin-left: 1px;
   
}
#logo img{
    height: 4em;
    width: 5em;
}
.foot{
    color: aqua;
}


/*nav*/
.top a{
 margin-left: 10%;
    color: aqua;
}
.top a:hover{
    font-size: 120%;
    color: #233B3B;
}

/*ABOUT*/

#about{
    background-color: #105C58;
   
    height: 20em;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    color: aqua;
}
#about p{
    margin: 3%;
    color: black;
}


/*DONATE*/

#donate{
    height: 28em;
  
    background-color: #105C58;
    margin-top: 1%;
    margin-bottom: 1%;
}

.donate{
    height: 18em;
    width: 60%;
    border: 1px solid #99B2B1;
    background-color: #99B2B1;
   margin-left: 25%;
}
.donate input{
    margin-bottom: 3%;
    
}



/*CONTACT US*/
#contacts{
   
    background-color: #105C58;
    height: 25.000em;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    
}
h2{
    color: aqua;
}


/*FOOTER*/
footer{
    
    border-top:1px solid aqua;
    height: 12.500em;
    color: aqua;
    background-color:  #105C58;
}
.bottom{
  
}

.bottom a{
    margin: 2%;
    color: aqua;
   
}