body{
  background-color: #24B6A7;
   
    height: 100%;
}

/*header*/

.head{
    background-image:
         linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../img/afric.jpeg); 
       background-repeat:no-repeat;
    background-size:   cover;
 
    
    height: 21.875em;
    
   
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}



h1{
    color: aqua;
}


#logo{
    margin-left: 1px;
   
}
.foot{
    color: aqua;
}
/*nav*/
.top a{
 margin-left: 10%;
    color: aqua;
}


/*ABOUT*/

#about{
    background-color: #105C58;
    width: 100%;
    height: 18.750em;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    color: aqua;
}
#about p{
    margin: 3%;
    color: black;
}


/*SLIDER*/

#donate{
    height: 28em;
    width: 100%;
    background-color: #105C58;
    margin-top: 1%;
    margin-bottom: 1%;
}

.donate{
    height: 18em;
    width: 50%;
    border: 1px solid #99B2B1;
    background-color: #99B2B1;
    margin-left: 25%;
}
.donate input{
    margin-bottom: 3%;
    
}

.donate button{
    height: 4em;
    width: 20%;
    border: 1px solid aqua;
    background-color: aqua;
}

/*CONTACT US*/
#contacts{
    background-color: #105C58;
    height: 25.000em;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    
}
h2{
    color: aqua;
}


/*FOOTER*/
footer{
    border-top:1px solid aqua;
    height: 12.500em;
    color: red;
    background-color:  #105C58;
}
.bottom{
  
}

.bottom a{
    margin: 2%;
    color: red;
   
}