/*body*/
body{
  
 background: brown;
    width: 100%;
}

.container{
    
}

/*header*/
header{
    padding: 1em;
    background: green;
    border-radius: 5px;
}
h1{
    font-size: 1em;
    color: black;
}
#head{
  
}
.title-bar {
    background:#FFFAFA; 
    
}
#top {
 background-image: url(../img/help.jpg);
    height: 100vh;
    background-attachment: fixed;
    
}
/*
#top img{
     position: relative;
    height: 130vh;
    width: 100%;

}
*/

button{
  position: absolute; 
    margin-top: 35vh;
  
    font-size: 1.5em;
}
button{
    background: green;
    height: 12vh;
    width: 15vw;
    margin-left: 43%;
    border-radius: 5px;
}




/*CONTENT*/

/*mid*/

#mid{
  height: 120vh;  
}

#mid .columns{
    height: 60vh;
    
}

#mid .same{
    background: green;
    
}

/*the team*/

#team{
   padding-right: 6vw;
    height: 130vh;
    background: white;
}

.pic-one{
    padding-top: 3vh;
    
}
figure img{
    height: 50vh;
   width: 30vw;
    background: red;
    text-align: center;
}

/*FOOTER*/
#foot{
    height: 25vh;
}
#foot .columns{
    border-left: 1px solid white;
    height: 20vh;
    
}
#foot .follow{
    border-right: 1px solid white;
}